
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    
</head>
<body>
    
    <nav>
        <ul class="nav-links">
            <li><a href="/">HOME</a></li>
            <li><a href="/2d-to-3d">Covert Blueprint</a></li>
            <li><a href="/walkthrough">3d Walkthrough</a></li>
            <li><a href="/gallery">Saved Models</a></li>
        </ul>
    </nav>      
    <div class="marquee-container">
        <marquee behavior="scroll" direction="left">
          "Transforming 2D blueprints into 3D models for enhanced security operations. Efficient, offline integration with Google Maps and satellite imagery for comprehensive mission planning."
        </marquee>
    </div>  
</body>

