<%- layout("/layouts/boilerplate.ejs") %>
<div class="container my-5">

    <h1 class="text-center mt-5">Saved 3D Model Gallery</h1> 

    <div class="row">
        <!-- Example of a single card -->
        
        <div class="d-flex flex-row flex-wrap">
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/one.jpeg" class="card-img-top" alt="3D Model 1">
                    <div class="card-body">
                        <h5 class="card-title">Model 1</h5>
                        <p class="card-text">Dimensions: 50m x 30m x 25m</p>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/two.jpeg" class="card-img-top" alt="3D Model 2">
                    <div class="card-body">
                        <h5 class="card-title">Model 2</h5>
                        <p class="card-text">Dimensions: 70m x 40m x 30m</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="\images\three.jpeg" class="card-img-top" alt="3D Model 2">
                    <div class="card-body">
                        <h5 class="card-title">Model 3</h5>
                        <p class="card-text">Dimensions: 70m x 40m x 30m</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="/images/four.jpeg" class="card-img-top" alt="3D Model 2">
                    <div class="card-body">
                        <h5 class="card-title">Model 4</h5>
                        <p class="card-text">Dimensions: 70m x 40m x 30m</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="/images/sevenn.jpg" class="card-img-top" alt="3D Model 2">
                    <div class="card-body">
                        <h5 class="card-title">Model 5</h5>
                        <p class="card-text">Dimensions: 70m x 40m x 30m</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="/images/six.jpg" class="card-img-top" alt="3D Model 2">
                    <div class="card-body">
                        <h5 class="card-title">Model 5</h5>
                        <p class="card-text">Dimensions: 70m x 40m x 30m</p>
                    </div>
                </div>
            </div>


    
        </div>

        
        <!-- Add more cards here as needed -->
    </div>
</div>
