<%- layout("/layouts/boilerplate.ejs") %>

<div class="container">
  <!-- Title Section -->
  <div class="title-section mt-3">
    <h1>Walkthrough</h1>
  </div>

  <!-- Video Section -->
  <div class="video-section">
    <video id="walkthrough-video" width="100%" controls>
      <!-- Replace 'video.mp4' with the actual video file path -->
      <source src="/videos/walk.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>
